<% include ../partials/header %>
<h1 class="title">edit item</h1>
<form action="/collection/<%= item._id %>?_method=PUT" method="POST">
    <input type="text" name="item[name]" value="<%= item.name %>">
    <input type="text" name="item[description]" value="<%= item.description %>">
    <input type="number" name="item[quantity]" min="1" step="1" value="<%= item.quantity %>">
    <input type="text" name="item[notes]" value="<%= item.notes %>">
    <a class="btn" href="/collection/<%= item._id %>">go back</a>
    <input type="submit" value="submit">
</form>
<% include ../partials/footer %>
