<% include ../partials/header %>
<h1 class="title"><%= item.name %></h1>
<p class="description"><%= item.description %></p>
<p class="quantity"><%= item.quantity %></p>
<p class="notes"><%= item.notes %></p>
<p class="created"><%= item.created.toLocaleDateString() %></p>
<a class="btn" href="/collection">go back</a>
<a class="btn" href="/collection/<%= item._id %>/edit">edit</a>
<form class="form-delete" action="/collection/<%= item._id %>?_method=DELETE" method="POST">
    <input type="submit" value="delete">
</form>
<% include ../partials/footer %>
