<% include ../partials/header %>
<section class="item-info">
    <h1 class="name"><%= item.name %></h1>
    <p class="last-used"><%= moment(item.created).date() - moment().date() %></p>
    <p class="label">days ago</p>
    <p class="description"><%= item.description %></p>
    <p class="quantity"><%= item.quantity %></p>
    <p class="notes"><%= item.notes %></p>
</section>
<div class="buttons">
    <a class="btn go-back" href="/collection">go back</a>
    <a class="btn info" href="/collection/<%= item._id %>/edit">edit</a>
</div>
<form class="form-button" action="/collection/<%= item._id %>?_method=DELETE" method="POST">
    <input class="btn delete" type="submit" value="delete">
</form>
<% include ../partials/footer %>
