<% include ../partials/header %>
<section class="item-header">
    <h2 class="subtitle"><%= item.name %></h2>
    <p class="description"><%= item.description %></p>
    <p class="quantity"><%= item.quantity %></p>
    <p class="notes"><%= item.notes %></p>
    <p class="created"><%= item.created %></p>
</section>
<% include ../partials/footer %>
